.mfx-text-field {
    -fx-background-color: transparent;
    -fx-border-color: #355062;
    -fx-text-fill: WHITE;
}

.mfx-text-field .mfx-floating-label {
    -fx-text-fill: white;
    -fx-font-size: 15;
}

.mfx-button {
    -fx-background-radius: 20;
    -fx-background-color: #355062;
    -fx-text-fill: white;
    -fx-border-radius: 20;
}

.mfx-button:hover {
    -fx-background-color: #637484;
}

.label {
    -fx-background-radius: 13;
    -fx-background-color: #355062;
    -fx-text-fill: white;
    -fx-padding: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 0);
}

.mfx-datepicker {
    -fx-font-size: 12px;
    -fx-text-fill: Black;
    -fx-background-color: transparent;
}

.mfx-combobox {
    -fx-font-size: 12px;
    -fx-text-fill: Black;
    -fx-background-color: #355062;
    -fx-prompt-text-fill: Black;
}

.mfx-datepicker .calendar-button {
    -fx-background-radius: 50%;
}